// .aboutMe {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   padding: 55px 150px 0 150px;
// };

// .aboutMe_tittle{
//  color: white;
//  font-weight: 700;
//  font-size: 50px;
//  padding: 0 0 30px;
// }

// .aboutMe_text {
//   padding-bottom: 10px;
// }

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px 150px 0 150px;

  &_tittle {
    color: white;
    font-weight: 700;
    font-size: 50px;
    padding: 0 0 30px;
  }

  &_text {
    padding-bottom: 10px;
  }

  // Estilos para tablets
  @media (max-width: 768px) {
    padding: 40px 80px 0 80px;

    &_tittle {
      font-size: 40px;
    }
  }

  // Estilos para móviles
  @media (max-width: 480px) {
    padding: 30px 20px 0 20px;

    &_tittle {
      font-size: 30px;
    }
  }
}