@import '../core/variables';

.containerContact{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact{
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 50px;

  &Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  &Title{
    color: $color-green;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    // margin: 0 15px;
  }
  
  &Text {
    text-align: center;
    @media (max-width: 480px) {
      width: 100%;
      font-size: 14px;
    }

  }

  &Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    width: 100%;
    box-sizing: border-box;

    &_input{
      margin: 10px;
      font-size: 16px;
      padding: 10px;
      border-radius: 10px;
      width: 80vh;
      outline: none;
      border: solid $color-green 2px;
      font-family: $font-web;
      box-sizing: border-box;

      @media (max-width: 768px) {
        width: 60vh;
      }

      @media (max-width: 480px) {
        width: 40vh;
      }
    }

  }

  &Button {
    all: unset;
    display: inline-block;
    padding: 10px 20px;
    background-color: $color-green;
    color: $color-white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    filter: brightness(70%);
    transition: background-color 0.3s ease, transform 1s ease;
  
    &:hover {
      filter: brightness(100%);
      transform: scale(1.05);
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
  }
}

.message {
  height: 100px;
  box-sizing: border-box;
}