@import '../core/variables';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: $color-green;
  z-index: 1000;

  &Nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 45px;

    &_Logo {
      display: flex;
      align-items: center;
      
      &_img {
      width: auto;
      }
    }

    &_list {
      display: flex;
      align-items: center;
      gap: 35px;
    }

    &_link {
      color: $color-white;
      font-weight: 700;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -2px; 
        left: 0;
        width: 100%;
        height: 2px; 
        background-color: $color-white; 
        transform: scaleX(0); 
        transform-origin: left;
        transition: transform 0.3s ease; 
      }

      &:hover::after {
        transform: scaleX(1); // Muestra la línea completa al hacer hover
      }
    }
  }
}
