// body {
//   // background-color: #214a46;
//   background-color: rgba(33, 74, 70, 0.95);
//   font-family: "Poppins", sans-serif;
// }


// .containerFooter {
//   height: 80px;
//   font-weight: 300;
//   color: white;
//   border-top: 0.5px solid white;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

body {
  background-color: rgba(33, 74, 70, 0.95);
  font-family: "Poppins", sans-serif;
}

.containerFooter {
  height: 80px;
  font-weight: 300;
  color: white;
  border-top: 0.5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

  // Estilos para tablets
  @media (max-width: 768px) {
    height: 70px;
    font-size: 14px;
  }

  // Estilos para móviles
  @media (max-width: 480px) {
    height: 60px;
    font-size: 12px;
  }
}
