.project{
  padding: 55px 150px 0 150px;
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: center;
  flex-direction: column;
}

.projectTitle{
  color: white;
  font-weight: 700;
  font-size: 50px;
  padding: 0 0 30px;
}

.projectPhoto_container{
  display: flex;
  gap: 30px;  
}


.projectPhoto {
  width: 225px;
  height: 225px;
  border-radius: 25%;
  object-fit: cover;
  filter: brightness(60%);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.projectPhoto:hover {
  filter: brightness(100%);
  transform: scale(1.1);
}