.project{
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: center;
}

.projectTitle{
  color: white;
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 25px;
}