.skills {
  padding: 55px 150px 0 150px;
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: center;
}

.skillsTitle {
  color: white;
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 25px;
}